<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Grummle Password Reset</h1>
    <p><%= @user.username %>, you have requested to reset your password.</p>
    <p>
      If you have requested to set a new password, you can do so by clicking on this link:<br>
      <%= link_to 'Set a new password', new_password_url(username: @user.username, token: @user.update_token).html_safe %>
    </p>
    <p>In case you did not make that request you can ignore this e-mail.</p>
    <p>Thanks for using Grummle and have a nice day!</p>
  </body>
</html>
