<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Grummle</h1>
    <p><%= @user.username %>, you have successfully registered a Grummle account.</p>
    <p>
      In order to be able to login to the site, you have to verify your e-mail address by clicking this link:<br>
      <%= link_to 'Activate Account', activate_url(username: @user.username, token: @user.update_token).html_safe %>
    </p>
    <p>Thank you for choosing Grummle and have a nice day!</p>
  </body>
</html>
