<h1>About Grummle</h1>
<p><i>(Short for: Grummle's really uncomplex and made my life easier)</i></p>
<p>
  <b>Grummle is an easy and minimalistic system that allows you to manage personal notes. You can comfortably format them by
  using the <a href="http://daringfireball.net/projects/markdown/basics" target="_blank" rel="noopener">Markdown Syntax</a>.</b>
</p>
<p>
  Grummle is open source software and written using the <a href="http://rubyonrails.org/" target="_blank" rel="noopener">Ruby on Rails</a> framework.
  The Markdown Syntax <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank" rel="noopener">tastes like GitHub</a>.<br>
  The source code is available on <a href="http://github.com/Mystler/Grummle" target="_blank" rel="noopener">GitHub</a>.
</p>
<p>
  When you register on or use this, it site will only collect the minimum amount of data required to run and provide its service. This
  amounts to your login information and your notes. That data will not be shared or used for any other purposes without your explicit consent.
</p>
<p>
  If you have any problems or questions, you can send an e-mail to:<br>
  <i>developer AT mystler DOT eu</i>
</p>
