<h1>About Grummle</h1>
<p><i>(Short for: Grummle's really uncomplex and made my life easier)</i></p>
<p>
  <b>Grummle is an easy and minimalistic system that allows you to manage personal notes. You can comfortably format them by
  using the <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Markdown Syntax</a>.</b>
</p>
<p>
  Grummle is open source software and written using the <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> framework.<br>
  The source is available on <a href="http://github.com/Mystler/Grummle" target="_blank">GitHub</a>.
</p>
<p>
  If you have any problems or questions, you can send an e-mail to:<br>
  <i>developer AT mystler DOT eu</i>
</p>
