<h1>Über Grummle</h1>
<p><i>(Kurz für: Grummle's really uncomplex and made my life easier)</i></p>
<p>
  <b>Grummle ist ein einfaches und minimalistisches System, das es Ihnen erlaubt persönliche Notizen zu verwalten.
  Sie können diese komfortabel formatieren, indem Sie die
  <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Markdown Syntax</a> verwenden.</b>
</p>
<p>
  Grummle ist Open Source Software und mit dem <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> Framework geschrieben.
  Die Markdown Syntax unterstützt den <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub-Geschmack</a>.<br>
  Der Quellcode ist auf <a href="http://github.com/Mystler/Grummle" target="_blank">GitHub</a> verfügbar.
</p>
<p>
  Bei Problemen oder Fragen können Sie sich per E-Mail melden:<br>
  <i>developer AT mystler DOT eu</i>
</p>
