@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'famfamfam-flags';

$bg-dark: #EEE;
$bg: #FFF;

body {
    background-color: $bg-dark;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
}

#container {
    margin: 24px auto;
    padding: 24px;
    background-color: $bg;
    border-radius: 12px;
}

textarea {
    resize: vertical;
    min-height: 400px;
}

.full {
    width: 100%;
}
